
.boxes
{
    max-width: 400px;
    background-color: white;
    text-align: center;
    margin: 50px auto;
}
.item
{
    max-width: 400px;
    min-height: 70px;                           /*brought some changes after first commit */
    display: grid;                              /*brought some changes after first commit */
    color:purple;
    background-color: #eee;
    margin: 50px auto;
    align-items: center;                         /*brought some changes after first commit */ 
    border-bottom: 1px solid #F1F1F1;      /*brought some changes after first commit /*

}
