
.boxes
{
    max-width: 400px;
    background-color: white;
    text-align: center;
    margin: 50px auto;
}
.item
{
    max-width: 400px;
    color:purple;
    background-color: #eee;
    margin: 50px auto;
    text-align: center;




}